@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
:root{
    --color-1: #2A0504;
    --color-2: #080808;
    --color-3: #FFFFFF;
    --color-4: #B31010;
    --color-5: conic-gradient(red, black, white)
}

*{
    padding: 0;
    margin: 0;
    color: var(--color-3);
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container{
    height: 100%;
    background-color: var(--color-2);
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
    margin: auto auto 5% auto;
}

.header{
    position: fixed;
    width: 100%;
    height: 15vh;
    background: var(--color-4);
    z-index: 1;
}

.header-container{
    margin: 10px;
    width: 100%;
    background: var(--color-4);
}

.logo{
    position: absolute;
    top: 3vh;
    left: 12%;
}

.logo img{
    position: absolute;
    top: -20%;
    left: -35%;
    float: left;
    width: 30%;
}

.logo-txt{
    list-style-type: none;
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-3);
    letter-spacing: 5px;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: var(--color-3);
    /* text-shadow: 0 0 0 #33333333; */
    /* background: linear-gradient(
        180deg,
        var(--color-1) 40%,
        transparent 10%, transparent 10%,
        var(--color-2) 20%, var(--color-2) 39%,
        transparent 39%, transparent 40%,
        /* var(--color-3) 40%, var(--color-3) 59%,
        transparent 59%, transparent 60%,
        var(--color-4) 60%, var(--color-4) 79%,
        transparent 79%, transparent 79%, */
        /* var(--color-5) 80%

    ); */
    /* -webkit-background-clip: text; */
}


.header-container ul{
    float: right;
    margin: 0 2% 0 0;
}

.header-container ul li{
    display: inline-block;
    line-height: 110px;
    margin: 0 50px;
}

.header-container ul li a{
    position: relative;
    color: var(--color-3);
    font-size: 2rem;
    text-transform: uppercase;
}

.header-container ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: var(--color-3);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s linear;
}

.header-container ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #bars, 
label #times{
    color: var(--color-3);
    font-size: 30px;
    padding: 15px;
    margin: 3% 10% 0 0;
    text-align: end;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.content{
    padding: 20vh 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container{
    width: 90%;
}

.home{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    column-gap: 10px;
    row-gap: 10px;
    animation: appear ;
}

.home .item1{
    font-size: 8vw;
    font-weight: 500;
    text-align: left;
    letter-spacing: 3px;
    padding: 15% 3% 3% 3%;
}

.home h2{
    font-size: 2vw;
    padding: 0 0 5% 0;
}

.home .item2{
    grid-column: 2;
    grid-row: 1;

}

.home .item2 img{
    display: block;
    height: 100%;
    width: 100%;
}

.flip_box {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border: none;
}

.flip_box_inner{
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.flip_box:hover .flip_box_inner {
    transform: rotateY(180deg);
}

.flip_box_front, .flip_box_back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_box_back{
    background: var(--color-5);
}

.flip_box_back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
}

/* @keyframes appear{
    from{
        opacity: 0%;
        scale: 0.5;
    }
    to{
        opacity: 100%;
        scale: 1;
    }
}
.about, .certificates, .partners{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
} */
.about{
    padding: 10% 0 0 0;
    width: 100%;
}

.about img{
    width: 100%;
}

.certificates, .partners, .contact{
    padding: 10% 0 0 0;
    width: 100%;
}

.certificates .certificates-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 5% auto;
}

.certificates img{
    width: 48%;
}

.partners .partners-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partners img{
    width: 15%;
    height: 50px;
}

.contact .item2{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

.item2 .contact-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item2 input,textarea{
    margin: 0 0 5% 0;
    color: #000000;
    width: 70%;
    height: 50px;
    font-size: 30px;
    padding: 0 10px 0 10px;
}

.item2 textarea{
    height: 200px;
}

input{
    color: color;
}
.contact .item2 iframe{
    width: 100%;
    height: 100%;
    
}

.footer{
    position: static;
    width: 98%;
    bottom: 0;
    margin: 10% 0 0 0;
    padding: 1%;
    font-size: 30px;
    text-align: center;
    background-color: var(--color-4);
}

@media (max-width: 1500px){
    .header{
        height: 13vh;
    }
    
    .header-container{
        margin: 10px;
    }
    
    .logo{
        top: 3.5vh;
    }
    
    .header-container ul li{
        margin: 0 15px;
    }
    
    .header-container ul li a{
        font-size: 1.8rem;
    }
    
    .home .item1{
        font-size: 7vw;
    }
    
    .home h2{
        font-size: 3vw;
        padding: 0 0 5% 0;
    }

    .item2 input,textarea{
        margin: 0 0 10% 0;
        color: #000000;
        width: 80%;
        height: 30px;
        font-size: 30px;
    }
}


@media (max-width: 1050px){  
    .header-container{
        margin: 5px 0 0 0;
    }

    .logo{
        top: 4.5vh;
        left: 9%;
    }

    .logo img{
        position: absolute;
        top: -30%;
        left: -30%;
        float: left;
        width: 30%;
    }

    .item2 textarea{
        height: 70px;
        width: 80%;
    }

    .partners img{
        width: 20%;
        height: 40px;
    }
}
@media (max-width:700px){
    .header{
        height: 10vh;
    }

    .header-container{
        margin: 0;
    }

    .logo{
        top: 3.5vh;
    }
    
    .logo img{
        position: absolute;
        top: -100%;
        left: 15%;
        float: left;
        width: 50%;
    }

    label #bars{
        display: block;
    }
    .header-container ul{
        position: fixed;
        width: 110%;
        height: 100vh;
        background: url(background-menu.png) no-repeat;
        top: 80px;
        left: -200%;
        text-align: center;
        transition: all .5s;
    }

    .header-container ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .header-container ul li a{
        color: var(--color-3);
    }

    .header-container ul li a::before{
        background: var(--color-3);
    }
    
    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ label #bars{
        display: none;
    }

    #check:checked ~ label #times{
        display: block;
    }

    .about, .certificates, .partners{
        animation: none;
    }
    
    .home .item1{
        font-size: 6vw;
    }
    
    .home h2{
        font-size: 4vw;
        padding: 0 0 5% 0;
    }

    .partners img{
        width: 20%;
        height: 30px;
    }
    
    .item2 .contact-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .item2 input,textarea{
        font-size: 25px;
    }

    .footer{
        font-size: 20px;
    }
}
